.containerCenter{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 16px;
  width: 600px;

  h1{
    color: var(--white);
    font-size: 24px;
  }

  form{
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px; //Espaçamento entre os icones/caixas de mensagem
  }

  form button{
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease; /* animação suave */
  }
  form button:hover{
    background-color: var(--orange);
    transform: scale(1.05);
  }
}

.input{
  height: 40px;
  border: 1px solid var(--gray-100);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;
}
.input::placeholder{
  color: rgb(152, 155, 152); //Mudar a cor do texto dentro do input
}


.text{
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}



@media (max-width: 620px){
  .login{
    width: 90%;
  }
}
